// colors
$light-gray:#999;
$dark-gray:#444;
$white-09:rgba(255, 255, 255, 0.9);
$black-05:rgba(0, 0, 0, 0.5);
$orange:#ffcd70;
$green:#1abc9ca7;
$red: #d84a3a;
$blue: #3ab1e4;

// borders color
$lighter-border:#e0e0e0;
$light-border:#d0d0d0;
$dark-border:#c2bfbf;
$blue-border:#3ab1e4;
